<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Usuarios de Eafó</h1>
    <p>Estás mirando la página de inicio, navega a 
      <a href="/usuarios">/usuarios</a>
      para registrarte
    </p>
  </body>
</html>